##******************************************************************************
# Bias Corrected Climate Imprint (BCCI) downscaling algorithm
# Alex Cannon (acannon@uvic.ca)
##******************************************************************************

base.dir <- '/global/scratch/ssobie/pcic/stat.downscaling/CMIP5/'

pr.nc.file <- paste(base.dir,'inputs/',gcm,'/subset.pr_day_',gcm,'_historical+',rcp,'_',run,'_19500101-21001231.nc',sep='')
pr.var <- 'pr'

tasmax.nc.file <- paste(base.dir,'inputs/',gcm,'/subset.tasmax_day_',gcm,'_historical+',rcp,'_',run,'_19500101-21001231.nc',sep='')
tasmax.var <- 'tasmax'

tasmin.nc.file <- paste(base.dir,'inputs/',gcm,'/subset.tasmin_day_',gcm,'_historical+',rcp,'_',run,'_19500101-21001231.nc',sep='')
tasmin.var <- 'tasmin'
    
template.file <- paste(base.dir,'inputs/obs/template_anusplin_canada',sep='')
obs.dir <- paste(base.dir,'inputs/obs/',sep='')
output.dir <- paste(base.dir,'outputs/',gcm,'/',sep='')
output.file <- 'bcci'
output.suffix <- paste('_',toupper(gcm),'_1950-2100',sep='')
output.nc.time.units <- 'days since 1950-01-01 00:00:00'
output.nc.time.calendar <- '365_day'
output.nc.title <- 'Bias Correction Climate Imprint (BCCI) downscaling from ERA_Interim and based on ANUSPLIN'
output.nc.institution <- 'Pacific Climate Impacts Consortium (PCIC), Victoria, BC, www.pacificclimate.org'
output.nc.source <- ''
output.nc.input_data <- ''
output.nc.reference <- 'Calibration from 1951-2005; prediction from 2006-2100'
output.nc.project_id <- ''
output.nc.experiment_id <- ''
output.nc.version <- ''
output.nc.version_comment <- ''
output.nc.contact1 <- 'Stephen Sobie'
output.nc.contact2 <- 'ssobie@uvic.ca'
output.nc.contact3 <- ''
output.nc.history <- ''

clim.years <- 1951:2005
bc.years <- 1951:2005
detrend.pr <- FALSE
detrend.tx <- TRUE
detrend.tn <- TRUE
detrend.wind <- FALSE

pr.overflow <- 1500
n.chunks <- 40

##******************************************************************************
