##******************************************************************************
# Bias Corrected Climate Imprint (BCCI) downscaling algorithm
# Alex Cannon (acannon@uvic.ca)
##******************************************************************************

gcm <- 'hadcm3'	
rcm <- 'mm5i'	

base.dir <- '/home/data/climate/downscale/NARCCAP/'
    
nc.obs.file <- paste(base.dir,'inputs/obs/anusplin_300_bc_sub_daily_standard_grids_1950-2005.nc',sep='')
nc.obs.sub <- paste(base.dir,'inputs/obs/anusplin_canada_clim.years.nc',sep='')
nc.obs.clim <- paste(base.dir,'inputs/obs/anusplin_canada_monthly_climatology.nc',sep='')

pr.nc.file <- paste(base.dir,'RCMs_geog/subset/',gcm,'.',rcm,'/',gcm,'.',rcm,'.combined.pr.nc',sep='')
pr.var <- 'pr'

tasmax.nc.file <- paste(base.dir,'RCMs_geog/subset/',gcm,'.',rcm,'/',gcm,'.',rcm,'.combined.tasmax.nc',sep='')
tasmax.var <- 'tasmax'

tasmin.nc.file <- paste(base.dir,'RCMs_geog/subset/',gcm,'.',rcm,'/',gcm,'.',rcm,'.combined.tasmin.nc',sep='')
tasmin.var <- 'tasmin'

template.file <- paste(base.dir,'inputs/obs/template_anusplin_sub.nc',sep='')
output.dir <- paste(base.dir,'BCCI/outputs/',gcm,'.',rcm,'/',sep='')
output.file <- 'bcci'
output.suffix <- paste('_',toupper(gcm),'_',toupper(rcm),'_1971-2000_2041-2070',sep='') ##'_ANUSPLIN_ERA_Interim_1979-1990_1991-2011'
output.nc.time.units <- 'days since 1968-01-01 00:00:00'
output.nc.time.calendar <- '365_day'
if (gcm=='hadcm3')
  output.nc.time.calendar <- '360_day'
output.nc.title <- 'Bias Correction Climate Imprint (BCCI) downscaling from ERA_Interim and based on ANUSPLIN'
output.nc.institution <- 'Pacific Climate Impacts Consortium (PCIC), Victoria, BC, www.pacificclimate.org'
output.nc.source <- ''
output.nc.input_data <- ''
output.nc.reference <- 'Calibration from 1971-2000; prediction from 2041-2070'
output.nc.project_id <- ''
output.nc.experiment_id <- ''
output.nc.version <- ''
output.nc.version_comment <- ''
output.nc.contact1 <- 'Alex Cannon'
output.nc.contact2 <- 'acannon@uvic.ca'
output.nc.contact3 <- ''
output.nc.history <- ''

clim.years <- 1971:2000
bc.years <- 1971:2000
detrend.pr <- FALSE
detrend.tx <- TRUE
detrend.tn <- TRUE
detrend.wind <- FALSE

pr.overflow <- 1500
n.chunks <- 20

##******************************************************************************
