##******************************************************************************
# Bias Corrected Spatial Disaggregation (BCSD) downscaling algorithm
# Alex Cannon (acannon@uvic.ca)
##******************************************************************************
# Note: set tas(min, max).nc.file and tas(min, max).var to the appropriate
# monthly average temperature values if the GCM lacks separate monthly
# min./max. temperature outputs
################################################################################

nc.obs.file <- 'inputs/obs/forcings_new_symap_BC_22AUG2011_1950-2006.nc'

pr.nc.file <- 'inputs/NCEP1/subset.prate.mon.mean.nc'
pr.var <- 'prate'

tasmax.nc.file <- 'inputs/NCEP1/subset.air.2m.mon.mean.nc'
tasmax.var <- 'air'

tasmin.nc.file <- 'inputs/NCEP1/subset.air.2m.mon.mean.nc'
tasmin.var <- 'air'

uwnd.nc.file <- 'inputs/NCEP1/subset.uwnd.10m.mon.mean.nc'
uwnd.var <- 'uwnd'

vwnd.nc.file <- 'inputs/NCEP1/subset.vwnd.10m.mon.mean.nc'
vwnd.var <- 'vwnd'

template.file <- 'inputs/obs/template.nc'
output.dir <- 'outputs/'
output.file <- 'bcsd'
output.suffix <- '_ncep_tavg_1950-1990_1991-2006'
output.nc.time.units <- 'days since 1948-01-01 00:00:00'
output.nc.title <- 'Bias Correction Spatial Disaggregation (BCSD) downscaling from NCEP1'
output.nc.institution <- 'Pacific Climate Impacts Consortium (PCIC), Victoria, BC, www.pacificclimate.org'
output.nc.source <- ''
output.nc.input_data <- 'NCEP1'
output.nc.reference <- 'Calibration on observed data from 1950-1990'
output.nc.project_id <- ''
output.nc.experiment_id <- ''
output.nc.version <- ''
output.nc.version_comment <- 'Note: disaggregation based on average temperature'
output.nc.contact1 <- 'Alex Cannon'
output.nc.contact2 <- 'acannon@uvic.ca'
output.nc.contact3 <- ''
output.nc.history <- ''

clim.years <- 1950:1990
resample.years <- 1950:1990
bc.years <- 1950:1990
detrend.pr <- FALSE
detrend.tx <- TRUE
detrend.tn <- TRUE
detrend.wind <- FALSE

pr.scale.max <- 3
pr.prop.max <- 2
pr.nwet.min <- 2
shift.tavg <- TRUE
pr.overflow <- 1500

random.seed <- 1
mc.cores <- 4

##******************************************************************************
