##******************************************************************************
# Bias Corrected Spatial Disaggregation (BCSD) downscaling algorithm
# Alex Cannon (acannon@uvic.ca)
##******************************************************************************
# Note: set tas(min, max).nc.file and tas(min, max).var to the appropriate
# monthly average temperature values if the GCM lacks separate monthly
# min./max. temperature outputs
################################################################################

nc.obs.file <- 'inputs/obs/forcings_new_symap_BC_22AUG2011_1950-2006.nc'

pr.nc.file <- 'inputs/CMIP5/subset.pr_Amon_CCSM4_historical+rcp45_r2i1p1_195001-210012.nc'
pr.var <- 'pr'

tasmax.nc.file <- 'inputs/CMIP5/subset.tas_Amon_CCSM4_historical+rcp45_r2i1p1_195001-210012.nc'
tasmax.var <- 'tas'

tasmin.nc.file <- 'inputs/CMIP5/subset.tas_Amon_CCSM4_historical+rcp45_r2i1p1_195001-210012.nc'
tasmin.var <- 'tas'

uwnd.nc.file <- 'inputs/CMIP5/subset.ua_sfc_Amon_CCSM4_historical+rcp45_r2i1p1_195001-210012.nc'
uwnd.var <- 'ua'

vwnd.nc.file <- 'inputs/CMIP5/subset.va_sfc_Amon_CCSM4_historical+rcp45_r2i1p1_195001-210012.nc'
vwnd.var <- 'va'

template.file <- 'inputs/obs/template.nc'
output.dir <- 'outputs/'
output.file <- 'bcsd'
output.suffix <- '_ccsm4_rcp45_tavg_1950-2005_2006-2100'
output.nc.time.units <- 'days since 1950-01-01 00:00:00'
output.nc.title <- 'Bias Correction Spatial Disaggregation (BCSD) downscaling from CCSM4 RCP4.5'
output.nc.institution <- 'Pacific Climate Impacts Consortium (PCIC), Victoria, BC, www.pacificclimate.org'
output.nc.source <- ''
output.nc.input_data <- 'CCSM4'
output.nc.reference <- 'Calibration from 1950-2005; simulation from 2006-2100'
output.nc.project_id <- ''
output.nc.experiment_id <- 'RCP4.5'
output.nc.version <- ''
output.nc.version_comment <- 'Note: disaggregation based on average temperature'
output.nc.contact1 <- 'Alex Cannon'
output.nc.contact2 <- 'acannon@uvic.ca'
output.nc.contact3 <- ''
output.nc.history <- ''

clim.years <- 1950:2005
resample.years <- 1950:2005
bc.years <- 1950:2005
detrend.pr <- FALSE
detrend.tx <- TRUE
detrend.tn <- TRUE
detrend.wind <- FALSE

pr.scale.max <- 3
pr.prop.max <- 2
pr.nwet.min <- 2
shift.tavg <- TRUE
pr.overflow <- 1500

random.seed <- 1
mc.cores <- 4

##******************************************************************************
