##******************************************************************************
# Bias Corrected Constructed Analogue (BCCA) downscaling algorithm
# Alex Cannon (acannon@uvic.ca)
##******************************************************************************

base.dir <- '/home/hiebert/ClimDown/'

nc.obs.file <- paste(base.dir,'inputs/obs/anusplin_300_canada_daily_standard_grids_1950-2005.nc',sep='')

pr.nc.file <- paste(base.dir,'inputs/',gcm,'/','subset.pr_day_',gcm,'_historical+',rcp,'_',run,'_19500101-21001231.nc',sep='')
pr.var <- 'pr'

tasmax.nc.file <- paste(base.dir,'inputs/',gcm,'/','subset.tasmax_day_',gcm,'_historical+',rcp,'_',run,'_19500101-21001231.nc',sep='')
tasmax.var <- 'tasmax'

tasmin.nc.file <- paste(base.dir,'inputs/',gcm,'/','subset.tasmin_day_',gcm,'_historical+',rcp,'_',run,'_19500101-21001231.nc',sep='')
tasmin.var <- 'tasmin'

template.file <- paste(base.dir,'inputs/obs/template_anusplin_canada',sep='')

inputs.dir <- paste(base.dir,'inputs/obs/',sep='')
output.dir <- paste(base.dir,'output/',gcm,'/BCCA/',sep='')
output.file <- 'bcca'

output.suffix <- paste('_',toupper(gcm),'_1951-2100',sep='')
output.nc.time.units <- 'days since 1950-01-01 00:00:00'
output.nc.title <- 'Bias Correction Constructed Analogue (BCCA) downscaling from ERA_Interim based on ANUSPLIN'
output.nc.institution <- 'Pacific Climate Impacts Consortium (PCIC), Victoria, BC, www.pacificclimate.org'
output.nc.source <- ''
output.nc.input_data <- toupper(gcm)
output.nc.reference <- 'Calibration from 1950-2005; prediction from 2006-2100'
output.nc.project_id <- ''
output.nc.version <- ''
output.nc.version_comment <- 'Note: disaggregation based on average temperature'
output.nc.contact1 <- 'Stephen Sobie'
output.nc.contact2 <- 'ssobie@uvic.ca'
output.nc.contact3 <- ''
output.nc.history <- ''
output.nc.calendar <- '365_day'

obs.ca.years <- 1951:2005
bc.years <- 1951:2005
detrend.pr <- FALSE
detrend.tx <- TRUE
detrend.tn <- TRUE

n.analogue <- 30
delta.days <- 45
tol <- 0.1 ##0.001
expon <- 0.5
pr.overflow <- 1500
n.chunks <- 40
mc.cores <- 4

##******************************************************************************
